<p class="page-space">
  <a [routerLink]="['/navbar/system']">System</a>
  <span class="current-page">/ View Roles</span>
</p>

<div class="main-div mat-elevation-z2">
  <button mat-button mat-raised-button class="btn" color="primary" [routerLink]="['/navbar/addrole']">
    <mat-icon>add</mat-icon>Add Role</button>
  <table class="mat-table">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
    </tr>
    <tr>
      <td>Super user</td>
      <td>This role provides all application permissions</td>
      <td>Enabled</td>
    </tr>
  </table>
</div>