.example-container{
    margin-left: 10%;
    margin-right: 5%;
    
}
.chartaccount{
    margin-left: 10%;
    margin-top: 5%;
}
.example-full-width{
    width:95%;
    margin-left: 2%;
}
.btn{
    margin-left: 60%;
    margin-top: 2%;
}