.main-div {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    margin-left: 3%;
  }
  .standinginstruction{
    margin-top: 4%;
     margin-left:3%;
  
  }
  .mat-table {
    max-width:1000px;
    max-height: 500px;
  }
  .btn{
      margin-left: 70%;
      margin-top: 2%;
  }

  .btn1{
      margin-right: 75%;
      margin-left:2%;
      margin-bottom: 2%;
  }