.example-container{
    margin-left: 10%;
    margin-right: 5%;

    
}
.createprovisioning{
    margin-left: 10%;
    margin-top: 5%;
}

.example-full-width{
    width:35%;
    margin-left:2%;
    margin-top: 10%;
}
.btn{
    margin-left: 20%;
}
.check{
    margin-left:5%;
}