<p class="createprovisioning">
    <a [routerLink]="['/accounting']">Accounting</a>
    <a [routerLink]="['/provisioningentry']">/ View Provisioning Entries</a>
    <a>/Create Provisioning Entries</a>
  </p>

  <div class="example-container mat-elevation-z2">
   
      <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="picker" placeholder="Provisioning Criteria">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
        </mat-form-field>

        <mat-checkbox class="check">Create Journal Entries</mat-checkbox> 

        <button mat-button mat-raised-button color="primary" class="btn">Submit</button>
  </div>