mat-sidenav {
    width: 13em;
  }
  
  .sidenav-link {
    width:100%;
    text-align:left;
  }
  
  .mat-sidenav-transition .mat-sidenav{
    -webkit-transition: width .3s !important; /* For Safari 3.1 to 6.0 */
    transition: width .3s !important;
  }
  .app-sidenav-content{
    display:flex;
    height:100%;
    flex-direction:column;
   
}