
  .mat-table {
    width:100%;
  }

  
  .btn{
    margin-left:70%;
    width:200px;
    margin-bottom:2%;
  }
  .header{
      margin-left: 2%;
      font-size: 20px;
      font-weight: 500%;
  }
th, td {
    border-bottom: 1px solid #ddd;
    text-align: left;
}
tr:nth-child(even) {background-color: #f2f2f2;}