<div class="fineract-div">Templates
    <div class="example-container mat-elevation-z8">
      List of Templates
      <mat-divider></mat-divider>
      <div class="example-header">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter by name">
          </mat-form-field>
          <a mat-raised-button color="primary"><mat-icon>add</mat-icon>Create Template</a>
        </div>
        <mat-table #table [dataSource]="dataSource">
    
            <!-- Position Column -->
            <ng-container matColumnDef="entity">
              <mat-header-cell *matHeaderCellDef> Entity </mat-header-cell>
              <mat-cell *matCellDef="let element"><a routerLink="{{element.entity}}" >{{element.entity}}</a> </mat-cell>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="type">
              <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>
        
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
        </div>  