.example-container{
    margin-left: 8%;
    margin-top: 5%;
    
}

.card{
    width:45%;
}
div mat-card{
    display:inline-block;
    vertical-align: top;
    margin-top: 2%;
}
a {
    font-size: 14px;
}
.card2{
    margin-left: 2%;
}