.example-container{
    margin-left: 5%;
    margin-top: 3%;
    
}

div mat-card{
    display:inline-block;
    vertical-align: top;
    margin-top: 2%;
    width:40%;
}
a {
    font-size: 14px;
}
.card2{
    margin-left: 2%;
}