<div class="example-container mat elevation-z2">
  <h3>Organisations</h3>
  <hr>
  <mat-card>
    <mat-list>
      <mat-list-item>
        <a [routerLink]="['/navbar/manageoffice']">
            <mat-icon>building</mat-icon>Manage Offices<br>
        Add new offices or modify or deactivate office or modify office hierachy
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <a [routerLink]="['/navbar/manageholidays']">
            <mat-icon>calender</mat-icon>Manage Holidays<br>
          Define holidays for office
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a [routerLink]="['/navbar/manageemployee']">
          <mat-icon>person</mat-icon>Manage Employees<br>
        A employee represents loan officers with no access to systems
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <a [routerLink]="['/navbar/standinginstruction']">
            <mat-icon>book</mat-icon>Standing Instructions History<br>
          View logged history of standing instructions
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <a [routerLink]="['/navbar/fundmapping']">
            <mat-icon>bill</mat-icon>Fund Mapping<br>
          Bulk entry screen for mapping fund sources to loans
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <a [routerLink]="['/navbar/passwordpreferences']">
            <mat-icon>lock</mat-icon>Passowrd Preferences<br>
          Define standards for enforcing the usage of stronger passwords
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <a [routerLink]="['/navbar/loanprovisioning']">
            <mat-icon>edit</mat-icon>Loan Provisioning Criteria<br>
          Define Loan Provisioning Criteria for Organisations
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <a [routerLink]="['/navbar/entitydata']">
            <mat-icon>check</mat-icon>Entity Data Table Checks<br>
          Define Entity Data Table Check for Organisations
        </a>
      </mat-list-item>
    </mat-list>
  </mat-card>

  <mat-card class="card2">
    <mat-list>
      <mat-list-item>
          <a [routerLink]="['/navbar/currency']">
          <mat-icon></mat-icon>Currency Configurations<br>
          Currencies available across organisation for different produts
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a [routerLink]="['/navbar/managefund']">
          <mat-icon>money</mat-icon>Manage Funds<br>
          Funds are associated with loans
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <a [routerLink]="['/navbar/bulkloan']">
          <mat-icon>money</mat-icon>Bulk Loan Reassignment<br>
          Easy way to reassign all the loans from one LO to another LO
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <a [routerLink]="['/navbar/teller']">
          <mat-icon>money</mat-icon>Teller / Cashier Management<br>
          Manage Teller/Cashier and Cash Allocation and Settlement
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <a [routerLink]="['/navbar/workingday']">
          <mat-icon>calender</mat-icon>Working Days<br>
          Define working days and configure behaviour of payments due on holidays
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a [routerLink]="['/navbar/paymenttype']">
          <mat-icon>attach_money</mat-icon>Payment Type<br>
          Manage payment types
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
          <a [routerLink]="['/navbar/smscampaign']">
          <mat-icon>sms</mat-icon>SMS Campaigns<br>
          Define SMS Campaigns for Organisation
        </a>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>