<div mat-dialog-content>
    <h2>Change Password</h2>
  </div>
  <hr>
  <form class="example-form" [formGroup]="form">
    Password:
    <mat-form-field class="example-full-width">
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    <br>
    Repeat password:
    <mat-form-field class="example-full-width">
        <input matInput type="password" fromControlName="repeatPassword">
      </mat-form-field>
      <br>

  <div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()" class="btn" color="warn">
      Cancel
    </button>
    <button mat-button mat-raised-button (click)="confirmChange()" color="primary">
      Create
    </button>
  </div>
  </form>