
.fineract-table {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;

  }
  ng-container{
      border:1px solid black;
  }
  
  
  .fineract-button{
      margin-left:80%;
  }
  