<h2>Help</h2>
<div class="example-container mat-elevation-z2">
  <h3>Help<mat-icon>help</mat-icon></h3>
  <hr>
  <h2>Keyboard Shortcuts</h2>
   <table class="table">
     <tr>
       <th></th>
       <th></th>
     </tr>
     <tr>
       <td>Navigation page</td>
       <td> ctrl + shift + n</td>
     </tr>

     <tr>
      <td>Checker Inbox & Pending Tasks</td>
      <td> ctrl + shift + i</td>
    </tr>

    <tr>
      <td>Collection sheet</td>
      <td> ctrl + shift + o</td>
    </tr>

    <tr>
      <td>Create Client</td>
      <td> ctrl + shift + c</td>
    </tr>
    <tr>
      <td>Create Group</td>
      <td> ctrl + shift + g</td>
    </tr>
    <tr>
      <td>Create Center</td>
      <td> ctrl + shift + q</td>
    </tr>
    <tr>
      <td>Frequent Posting</td>
      <td> ctrl + shift + f</td>
    </tr>
    <tr>
      <td>Closure Entries</td>
      <td> ctrl + shift + e</td>
    </tr>
    <tr>
      <td>Journal Entry</td>
      <td> ctrl + shift + j</td>
    </tr>
    <tr>
      <td>Reports</td>
      <td> ctrl + shift + r</td>
    </tr>
    <tr>
      <td>Accounting</td>
      <td> ctrl + shift + a</td>
    </tr>
    <tr>
      <td>Save/Submit Forms</td>
      <td> ctrl + s</td>
    </tr>
    <tr>
      <td>Run Report</td>
      <td> ctrl + r</td>
    </tr>
    <tr>
      <td>Cancel</td>
      <td> ctrl + shift + x</td>
    </tr>
    <tr>
      <td>Logout</td>
      <td> ctrl + shift + l </td>
    </tr>
    <tr>
      <td>Search</td>
      <td> alt + x</td>
    </tr>
    <tr>
      <td>Help</td>
      <td> ctrl + shift + h</td>
    </tr>
    <tr>
      <td>Pagination:next</td>
      <td> ctrl + n</td>
    </tr>
    <tr>
      <td>Pagination:previous</td>
      <td> ctrl + p</td>
    </tr>
   </table>
</div>