<div mat-dialog-content>
  <h2>Create Entity-Data Table Check</h2>
</div>
<hr>
<form class="example-form" [formGroup]="form">
  Entity*:
  <mat-form-field class="example-full-width" required>
      <mat-select placeholder="Entity" formCOntrolName="entity">
          <mat-option value="option" (click)="Onshow1()">Client</mat-option>
          <mat-option value="option1" (click)="Onshow()">Loan</mat-option>
          <mat-option value="option" (click)="Onshow1()">Group</mat-option>
          <mat-option value="option2" (click)="Onshow1()"> Savings Account</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
   Status*:
   <mat-form-field class="example-full-width" required>
      <mat-select placeholder="Entity" formCOntrolName="status">
          <mat-option value="option">option1</mat-option>
        </mat-select>
        </mat-form-field>
    <br>
    Data Table*:
    <mat-form-field class="example-full-width" required>
        <mat-select placeholder="Entity" formCOntrolName="data">
            <mat-option value="option">option1</mat-option>
          </mat-select>
          </mat-form-field>
      <br>
            
      <div *ngIf=show2>
         Product
         <mat-form-field class="example-full-width">
         <mat-select placeholder="Product">
              <mat-option value="option">Income Generating Loan</mat-option>
              <mat-option value="option1">For Prepay-Calculate till preclosure</mat-option>
              <mat-option value="option">For Preclose-Calculate till rest frequent</mat-option>
              <mat-option value="option2">For Foreclosure</mat-option>
            </mat-select>
          </mat-form-field>
      </div>
<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()" class="btn" color="warn">
    Cancel
  </button>
  <button mat-button mat-raised-button (click)="confirmCreate()" color="primary">
    Create
  </button>
</div>
</form>