.fineract-div{
    margin:5%;
    min-height:100%;
    height:100%;
    
  }
  .example-container{
    padding-left:20px;
    min-height:100%;
    height:100%;
}

.fineract-button{
    margin-left:80%;
}
.main-div{
    height:500px;
}