<p class="password">
    <a [routerLink]="['/navbar/organisation']">Organisation</a>
    <a>/ Password Preferences</a>
  </p>
  <div class="example-container mat-elevation-z2">
    <h2> Password Preferences</h2>
    <hr>
    
  <p><mat-radio-button></mat-radio-button>Password must be atleast 1 character and not more than 50 characters long</p>
  <p><mat-radio-button></mat-radio-button>Password must be atleast 6 characters ,no more than 50 characters long,must include atleast one upper
           case letter,one lower case letter, one numeric digit and no space</p>
    
      <form>
      <button mat-button mat-raised-button class="btn">Cancel</button>
      <button mat-button mat-raised-button color="primary" class="btn1">Submit</button>
      </form>

  </div>