<div class="page-space">product / charges / create charge
    <div class="main-div mat-elevation-z8">
      <div class="my-div">
        charge applies to:
        <mat-form-field>
            <mat-select placeholder="--select one--" [formControl]="myControl" required>
              <mat-option>--select one--</mat-option>
              <mat-option *ngFor="let charge of charges" [value]="charge">
                {{charge.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="myControl.hasError('required')">This field is required</mat-error>
  
          </mat-form-field>
      </div>
      <mat-divider></mat-divider>
      <br>
      <div></div>
    </div>
    </div>
