.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    margin-left: 2%;
  
  }

  .example-container1{
    max-height: 500px;
    min-width: 300px;
  

  }

  .example-full-width{
    width:300px;
  }
  .header{
    margin-top: 2%;
     margin-left: 2%;
  
  }
  
  .mat-table {
    max-width:1000px;
    max-height: 500px;
    margin-left: 1%;
  }
