.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    margin-left: 5%;
  
  }

  .example-container1{
    max-height: 500px;
    min-width: 300px;
    margin-left: 8%;

  }

  .example-full-width{
    width:340px;
  }
  .header{
    margin-top: 4%;
     margin-left: 9%;
  
  }
  
  .mat-table {
    max-width:1000px;
    max-height: 500px;
    margin-left: 3%;
  }
