.example-container{
    margin-left: 5%;
    margin-right: 5%;
    
}
.manageoffice{
    margin-left: 5%;
    margin-top: 5%;
}
.example-full-width{
    width:95%;
    margin-left: 2%;
}
.btn{
    margin-left: 70%;
    margin-top: 2%;
}