<p class="manageoffice">
    <a [routerLink]="['/navbar/organisation']">Organisation</a>
    <a>/ Manage Offices</a>
  </p>

  <div class="example-container mat-elevation-z2">
      <p>
        <button mat-button mat-raised-button color="primary" class="btn"[routerLink]="['/navbar/treeview-org']">Tree View</button>
        <button mat-button mat-raised-button color="primary" [routerLink]="['/navbar/createoffice']">
          <mat-icon>add</mat-icon>Create Office</button>
      </p>
      <hr>
      <mat-form-field class="example-full-width">
          <input type="text" placeholder="Filter by name/external id" matInput>
        </mat-form-field>

        <div>
            <mat-table #table [dataSource]="dataSource">
        
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Office name</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
              </ng-container>
        
        
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef>External Id</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
              </ng-container>
        
        
              <ng-container matColumnDef="office">
                <mat-header-cell *matHeaderCellDef>Parent office</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.office}} </mat-cell>
              </ng-container>
        
              <ng-container matColumnDef="on">
                <mat-header-cell *matHeaderCellDef>Opened On</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.on}} </mat-cell>
              </ng-container>
         
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        
          </div>

      </div>