<div class="fineract-div">System/External Services
  <div class="my-div mat-elevation-z8">
    <div>
      <div class="inner-div">
        <a [routerLink]="['/navbar/externalservices/S3']">
        <span>External Services</span><br>
        S3 Amazon Service Configuation</a>
      </div>
      <div class="inner-div">
          <a [routerLink]="['/navbar/externalservices/Email']">
        <span>External Services</span><br>
        Email Service configuration</a>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="inner-div">
        <a [routerLink]="['/navbar/externalservices/SMS']">
      <span>External Services</span><br>
      SMS Service Configuration</a>
    </div>
  </div>
</div>