.dropdown-button{

    color:teal;
}

   
.app-container {
    position:fixed;
    flex: 1;
    width: 100%;
    height:100%;
    min-width: 100%;
    min-height: 100%;
  }

.app-sidenav-content{
    display:flex;
    height:100%;
    flex-direction:column;
}
.app-sidenav{
    width:240px;
    
}
.fineract-toolicon{
    color:white;
}
.wrapper{
    margin:50px;
}
ul#menu li{
    display: inline;
}
.search1{
    margin-left: 80px;
    margin-top:24px
}
.fineract-toolsearch{
    width:5px;
}
  