mat-toolbar {
    /*background-color: white;*/
    /*box-shadow: 0px 2px 8px 4px #999;*/
  }
  
  .toolbar-spacer {
    flex: 1 1 auto;
  }
  
  .toolbar-menu-button {
    padding-left:20%;
    min-width:3em;
  }
  
  .toolbar-link {
    color:white;
  }
  .toolbar-link.link-active {
    border-bottom: 3px solid rgba(0, 0, 0, 0.54);
  }
  