.example-container{
    margin-left: 5%;
    margin-right: 5%;
    
}
.creategl{
    margin-left: 5%;
    margin-top: 3%;
}
.example-full-width{
    width:40%;

}

.btn{
    margin-left: 30%;
    margin-bottom: 2%;
}
.check{
    margin-left: 5%;
}
.example-form{
    margin-left: 2%;
}