<h5 class="header">Groups</h5>
<div class="example-container1 mat-elevation-z5">

<div class="example-container">

    <button mat-raised-button color="primary" [routerLink]="['/creategroup']" class="btn">
      <mat-icon>add</mat-icon>create Group</button>
    
    <div class="row">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="filter by name/status/office">
      </mat-form-field>
      <span> &nbsp;&nbsp;&nbsp;&nbsp;</span>

      <mat-form-field class="example-full-width1">
        <input matInput placeholder="filter by name/externalId">
      </mat-form-field><button mat-raised-button color="primary">
          <mat-icon>search</mat-icon></button>

    
</div>
</div>
<br>

<div>
    <mat-table #table [dataSource]="dataSource">
  
      
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
  
    
      <ng-container matColumnDef="account">
        <mat-header-cell *matHeaderCellDef> Account# </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.account}} </mat-cell>
      </ng-container>
  
      
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>External Id</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="office">
          <mat-header-cell *matHeaderCellDef>Office</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.office}} </mat-cell>
        </ng-container>
  
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </div>
  </div>
