.main-div1 {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    margin-left: 5%;
  
  }

  
  .app-input{
    width:360px;
  }

  .app-input1{
    width:300px;
  }

  
  
  
  .btn{
    margin-left:80%;
    margin-top:5px;
    
    
  }