.example-container{
    margin-left: 10%;
    margin-right: 10%;
}

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .example-full-width {
    width: 40%;
  }
  .example-form{
      padding-left: 10%;
  }

  mat-select label{
      display: inline-block;
  }
  input label{
      display:inline-flex;
  }

  .example-container2{
      padding-left: 30%;
  }