<div class="page-space">

  <p>
    <a [routerLink]="['/navbar/client']">Clients</a>
    <a>/Create Client</a>
  </p>


  <p>
    <mat-icon>arrow_forward</mat-icon>
    <mat-icon>panorama_fish_eye</mat-icon>
    <a>Create Client</a>
  </p>


  <h3>Create Clients</h3>
  <div class="main-div mat-elevation-z2">
    <form class="app-form" [formGroup]="form" ngSubmit="onSubmit()" novalidate>
      Office:
      <mat-form-field class="app-input">
        <mat-select placeholder="Head Office">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>

      Staff:
      <mat-form-field class="app-input">
        <mat-select placeholder="Staff">
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field class="app-input">
        <mat-select placeholder="Select legal form">
          <mat-option *ngFor="let form of forms" [value]="form.value">
            {{ form.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field class="app-input">
        <input matInput placeholder="Firstname" formControlName="firstname" required>
      </mat-form-field>
      <br>

      <mat-form-field class="app-input">
        <label>Middle name</label>
        <input matInput formControlName="middlename">
      </mat-form-field>
      <mat-checkbox>Is Staff</mat-checkbox>
      <br>

      <mat-form-field class="app-input">
        <input matInput placeholder="Lastname" formControlName="lastname" required>
      </mat-form-field>
      <br>

      <mat-form-field class="app-input">
        <input matInput placeholder="Mobile#" formControlName="mobile" type="tel">
      </mat-form-field>
      <br>

      <mat-form-field class="app-input">
        <input matInput [matDatepicker]="picker" placeholder="Date of birth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="app-input">
        <mat-select placeholder="Gender">
          <mat-option *ngFor="let gender of genders" [value]="gender.value">
            {{ gender.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field class="app-input">
        <mat-select placeholder="--Select Client Type--">
          <mat-option *ngFor="let client of clients" [value]="client.value">
            {{ client.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="app-input">
        <mat-select placeholder="select client classification">
          <mat-option *ngFor="let classif of classifs" [value]="classif.value">
            {{ classif.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <mat-form-field class="app-input">
        <input matInput placeholder="External Id" formControlName="id" type="number">
      </mat-form-field>
      <br>

      <mat-checkbox>Active</mat-checkbox>
      <br>

      <mat-form-field class="app-input">
        <input matInput [matDatepicker]="picker1" placeholder="Submitted on">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1 startView="year" [startAt]="startDate"></mat-datepicker>
      </mat-form-field>
      <br>

      <div class="another-div">

        <button mat-button mat-raised-button color="primary">
          Submit
        </button>
        <button mat-button mat-raised-button>
          Cancel
        </button>

      </div>

    </form>
  </div>