<html>

<head></head>

<body>
    <br/>
    <br/>


    <mat-card class="example-card">

        <h1 class="header">
            <strong>Welcome, Fineract</strong>
        </h1>

        <div class="alist">

            <a [routerLink]="['/home']" class="alist1">
                <button mat-raised-button color="primary">Home</button>
            </a>



            <a [routerLink]="['/home/Dashboard']" class="alist2">
                <button mat-raised-button color="primary">Dashboard</button>
            </a>


        </div>


        <mat-divider></mat-divider>



        <div>
            <input matInput placeholder="Search activities" class="fineract-search">
        </div>




        <p class="fineract-para"> you can navigate your way through mifosX using:</p>

        <div class="fineract-div">
            <mat-icon>arrow_back</mat-icon>the shortcuts to the left &nbsp;
            <mat-icon>arrow_upward</mat-icon>the menu at the top &nbsp;
            <mat-icon>arrow_upward</mat-icon>the search tool at the top right
        </div>



    </mat-card>



    <p class="fineract-para2">Realise version: 17.07.01.RELEASE | mifosX Release date: 4/Jul/2017</p>


</body>

</html>