
.fineract-para{
    font-size:22px;
    
}
.page-input{
    color:gray;
}


.alist{
    margin-left:70%;
    
}
.header,.alist{
    display: inline-block;
}

.fineract-search{
    width:75%;
    margin-top:10px;
}
.fineract-para2{
    color: aqua;
    text-align: center;

}

