

    <div class="main-div mat-elevation-z2">

        <h1 class="header">
            <strong>Welcome, Fineract</strong>
        </h1>

        <div class="alist">

            <a [routerLink]="['/navbar/home']" class="alist1">
                <button mat-raised-button color="primary">Home</button>
            </a>



            <a [routerLink]="['/navbar/home/dashboard']" class="alist2">
                <button mat-raised-button color="primary">Dashboard</button>
            </a>


        </div>


        <mat-divider></mat-divider>



        <div>
            <input matInput placeholder="Search activities" class="fineract-search">
        </div>




        <p class="fineract-para"> you can navigate your way through mifosX using:</p>

        <div class="page-input">
            <mat-icon>arrow_back</mat-icon>the shortcuts to the left &nbsp;
            <mat-icon>arrow_upward</mat-icon>the menu at the top &nbsp;
            <mat-icon>arrow_upward</mat-icon>the search tool at the top right
        </div>



    </div>


<p class="fineract-para2">Realise version: 17.07.01.RELEASE | fineract Release date: 4/Jul/2017</p>


   

