<html>

<head></head>

<body>
  




 
    <br/>
    <br/>


<mat-card class="example-card">
   <div>
        <h3>
          <strong>Welcome, Mifos</strong></h3>
          <ul id="list"><li>
          <a [routerLink]="['/home/dashboard']">
            <button mat-button >Dashboard</button></a>
            </li>

            <li>
            <a [routerLink]="['/home']">
                <button mat-button >Home</button></a>
            </li>
        </ul>
        </div>
          

          <mat-divider></mat-divider>

          
            
              <div>
                  <input matInput placeholder="State">
                  </div>
                
            
          

          <h3 class="para-mine"> you can navigate your way through mifosX using:</h3>
         
    
          
        </mat-card>
    

      



        <p class="param2-mine">Realise version: 17.07.01.RELEASE | mifosX Release date: 4/Jul/2017</p>

      



     

    

  
</body>

</html>