<div class="main-background" style="background-image:url('assets/Background.png');">
  <div class="image-div">
    <img src="assets/fineract.png" class="image">
    <br>
    <span style="color:white;margin-left:50px;">Apache Fineract</span>
  </div>
<div class="login-div mat-elevation-z2">
  <mat-icon class="app-input">person</mat-icon>
  <input mat-input placeholder="Username" class="app-input" [(ngModel)]="username">
  <br>
  <mat-icon class="app-input">https</mat-icon>
  <input mat-input placeholder="password" class="app-input" [(ngModel)]="password" name="password">
  <p>
  <button mat-raised-button color="primary" type="submit" class="btn" (click)="login()">Sign In</button>
  </p>
  <p class="app-input">Forgot password?<span style="color:#3498dB;" class="app-input">Contact your Administrator</span></p>
</div> 
  

  
</div>