<p class="page-space">
  <a [routerLink]="['/navbar/system']">System</a>
  <span class="current-page">/ Create Survey</span>
</p>

<div class="main-div mat-elevation-z2">
  <mat-tab-group>
    <mat-tab label="Basic Information">
      <h3 class="heading">Create Survey</h3>
      <hr>
      <form class="app-form" [formGroup]="form">
        Key*:
        <mat-form-field class="app-input">
          <input matInput type="number" class="form-control" [formControl]="key" formControlName="key">
          <mat-error *ngIf="key.hasError('required')">Required field</mat-error>
        </mat-form-field>
        <br> Name*:
        <mat-form-field class="app-input">
          <input matInput type="text" class="form-control" [formControl]="name" formControlName="name">
          <mat-error *ngIf="name.hasError('required')">Required field</mat-error>
        </mat-form-field>
        <br> Country Code*:
        <mat-form-field class="app-input">
          <input matInput type="number" class="form-control" [formControl]="code" formControlName="code">
          <mat-error *ngIf="code.hasError('required')">Required field</mat-error>
        </mat-form-field>
        <br> Description:
        <mat-form-field class="app-input">
          <textarea type="text" matInput formControlName="description"></textarea>
        </mat-form-field>
        <br>
        <button mat-button mat-raised-button class="btn" color="primary">Proceed</button>
      </form>
    </mat-tab>

    <mat-tab label="/Questions">
      <h3 class="header">Questions</h3>
      <hr>
      <button mat-button mat-raised-button color="primary" class="btn2" (click)="display()">
        <mat-icon>add</mat-icon>Add Questions</button>
      <button mat-button mat-raised-button color="primary" disabled>
        <mat-icon>add</mat-icon>Create Surveys</button>
   
    <div *ngIf="show">
        <form [formGroup]="form1" class="app-form"  >
            Key*:
            <mat-form-field class="app-input">
              <input matInput type="number" class="form-control" [formControl]="key1" formControlName="key1">
              <mat-error *ngIf="key1.hasError('required')">Required field</mat-error>
            </mat-form-field>
            <br> Text*:
            <mat-form-field class="app-input">
              <input matInput type="text" class="form-control" [formControl]="text1" formControlName="text1">
              <mat-error *ngIf="text1.hasError('required')">Required field</mat-error>
            </mat-form-field>
            <br> Description:
            <mat-form-field class="app-input">
              <textarea type="text" matInput formControlName="description1"></textarea>
            </mat-form-field>
            <br>
            <button mat-button mat-raised-button class="btn2">Cancel</button>
            <button mat-button mat-raised-button color="primary"><mat-icon>add</mat-icon>Add Question</button>
          </form>

      <h3 class="header">Options</h3> 
      <hr>
      <button mat-button mat-raised-button  class="btn2" color="primary"><mat-icon>add</mat-icon>Add Options</button>   

    </div>    



    </mat-tab>
  </mat-tab-group>
</div>