<p class="page-space">
  <a [routerLink]="['/navbar/system']">System</a>
  <a [routerLink]="['/navbar/viewrole']">/View Roles</a>
  <span class="current-page">Add Roles</span>
</p>

<div class="main-div mat-elevation-z2">
  <h3 class="heading">Add Role</h3>
  <hr>
  <form class="app-form" [formGroup]="form">
    Name*:
    <mat-form-field class="app-input" required>
      <input matInput type="text" id="name" class="form-control" [formControl]="name" formControlName="name">
      <mat-error *ngIf="name.hasError('required')">Required field</mat-error>
    </mat-form-field>
    <br> Description*:
    <mat-form-field class="app-input" required>
      <textarea matInput type="text" formControlName="description"></textarea> 
    </mat-form-field>
    <br>
    <button mat-button mat-raised-button color="primary" class="btn">Submit</button>
    <button mat-button mat-raised-button >Cancel</button>
    
  </form>
</div>