<p class="addcode">
  <a [routerLink]="['/navbar/system']">System</a>
  <a [routerLink]="['/navbar/managecode']"> / Manage Code</a>
  <a> / Add Code</a> 
</p>

<div class="example-container mat-elevation-z2">
  <h3 class="header">Add Code</h3>
  <hr>
   
  <form class="example-form" [formGroup]="form">
    Code name*:
    <mat-form-field class="example-full-width">
        <input matInput type="text" class="form-control" [formControl]="code" formControlName="code">
        <mat-error *ngIf="code.hasError('required')">Required field</mat-error>
    </mat-form-field>
    <br>
    <button mat-button mat-raised-button class="btn">Cancel</button>
    <button mat-button mat-raised-button color="primary">Submit</button>
  </form>
</div>