.example-container{
    margin-left: 5%;
    margin-top: 3%;
    
}

.card{
    width:40%;
}
div mat-card{
    display:inline-block;
    vertical-align: top;

}
a {
    font-size: 14px;
}
card1{
    margin-right: 5%;
}