.example-container{
    margin-left: 5%;
    margin-top: 3%;
    
}

.card{
    margin-right:2%;
    margin-left:2%;
}
div mat-card{
    display:inline-block;
    vertical-align: top;
    width:42%;
    margin-bottom:2%;

}
a {
    font-size: 14px;
}
