<div class="example-container mat-elevation-z2">
  <h3>Accounting</h3>
  <hr>
  <mat-card class="card">
    <mat-list>
      <mat-list-item>
        <a [routerLink]="['/navbar/frequentpostings']">
          <mat-icon>forward</mat-icon>Frequent Postings
          <br> These are predefined postings
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a [routerLink]="['/navbar/addjournalentry']">
          <mat-icon>add</mat-icon>Add Journal Entries
          <br> Manual journal entry transactions recorded in a journal
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a [routerLink]="['/navbar/searchjournal']">
          <mat-icon>search</mat-icon>Search Journal Entries
          <br> Advance search option for journal entries
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a [routerLink]="['/navbar/financialactivity']">
          <mat-icon>shuffle</mat-icon>Accounts Linked to Financial Activities
          <br> List of Financial Activity and GL Accounnt Mappings
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a [routerLink]="['/navbar/migrateopening']">
          <mat-icon>currency</mat-icon>Migrate Opening Balances(Office-wise)
          <br> Set or update office-level opening balances for GL Accounts
        </a>
      </mat-list-item>
    </mat-list>
  </mat-card>

  <mat-card>
    <mat-list>
      <mat-list-item>
        <a [routerLink]="['/navbar/chartaccount']">
          <mat-icon></mat-icon>Chart of Accounts
          <br> List of the accounts used by the organisation
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a [routerLink]="['/navbar/accountclosure']">
          <mat-icon>folder</mat-icon>Closing Entries
          <br> Journal Entries made at the end of the accounting period
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a [routerLink]="['/navbar/accountingrules']">
          <mat-icon>lock</mat-icon>Accounting Rules
          <br> Lists all Accounting rules
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a [routerLink]="['/navbar/accruals']">
          <mat-icon>settings</mat-icon>Accruals
          <br> Accrues income,expenses and liabilities as on the provided date
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a [routerLink]="['/navbar/provisioningentry']">
          <mat-icon>settings</mat-icon>Provisioning Entries
          <br> Create Provisioning Entries
        </a>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>