
  .mat-table {
    max-width:1000px;
    max-height: 500px;
  }

  
  .btn{
    margin-left:70%;
    width:200px;
    margin-bottom:2%;
    
  }
  .app-input{
      width:50%;
      margin-left:2%;
  }
  