<p class="closure">
  <a [routerLink]="['/navbar/accounting']">Accounting</a>
  <a [routerLink]="[ '/navbar/accountclosure']">/Account Closure</a>
  <a>/Create Closure</a>
</p>

<div class="example-container mat-elevation-z2">
  <h3>Create Closure</h3>
  <hr>

  <form class="example-form" [formGroup]="form" ngSubmit="onSubmit()" novalidate>
    <mat-form-field class="example-full-width">
      <mat-select placeholder="Head Office">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="picker" placeholder="Submitted on" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Comment" formControlName="comment"></textarea>
    </mat-form-field>

    <div class="example-container2">
      <button mat-button mat-raised-button>
        Cancel
      </button>

      <button mat-button mat-raised-button color="primary">
        Submit
      </button>
    </div>

  </form>
</div>