
  .mat-table {
    max-width:1000px;
    max-height: 500px;
  }

  
  .btn{
    margin-left:20%;
    width:150px;
    
  }
  .app-input{
      width:30%;
  }
  div mat-form-field{
      display:inline-block;
  }