<p class="createhook">
  <a [routerLink]="['/navbar/managehook']">Manage Hooks</a>
  <a> Create Hook</a>
</p>

<div class="example-container mat-elevation-z2">
  <h3 class="header">Create Hook</h3>
  <hr>
  <form class="example-form">
  Hook template*:
  <mat-form-field class="example-full-width">
    <mat-select placeholder="Select Template">
      <mat-option value="option1">@@@@</mat-option>
      <mat-option value="option2">$$$$$</mat-option>
      <mat-option value="option3">#####</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <br>
  <button mat-button mat-raised-button class="btn">Cancel</button>
  <button mat-button mat-raised-button color="primary">Submit</button>
</form>
</div>