<p class="page-space">
  <a [routerLink]="['/navbar/managehook']">Manage Hooks</a>
  <span class="current-page"> Create Hook</span>
</p>

<div class="main-div mat-elevation-z2">
  <h3 class="heading">Create Hook</h3>
  <hr>
  <form class="app-form">
  Hook template*:
  <mat-form-field class="app-input">
    <mat-select placeholder="Select Template">
      <mat-option value="option1">@@@@</mat-option>
      <mat-option value="option2">$$$$$</mat-option>
      <mat-option value="option3">#####</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <br>
  <button mat-button mat-raised-button color="primary"  class="btn">Submit</button>
  <button mat-button mat-raised-button>Cancel</button>
  
</form>
</div>