<h2 class="heading">Centers</h2>
<div class="main-div  mat-elevation-z3">
<div class="app-container">
    
    <div class="row">
      <mat-form-field class="app-input">
        <input matInput placeholder="filter by name">
      </mat-form-field>
      <span> &nbsp;</span>

      <mat-form-field class="app-input">
        <input matInput placeholder="filter by mobile#/externalId">
      </mat-form-field><button mat-raised-button color="primary">
          <mat-icon>search</mat-icon></button>

      <span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <button mat-raised-button color="primary" [routerLink]="['/navbar/createcenter']">
        <mat-icon>add</mat-icon>create center</button>
</div>
</div>
<br>

<div>
    <mat-table #table [dataSource]="dataSource">
  
      
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
  
    
      <ng-container matColumnDef="account">
        <mat-header-cell *matHeaderCellDef> Account# </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.account}} </mat-cell>
      </ng-container>
  
      
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>External Id</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="office">
          <mat-header-cell *matHeaderCellDef>Office</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.office}} </mat-cell>
        </ng-container>
  
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </div>
  </div>