<p classs="page-space">
  <a [routerLink]="['/navbar/system']">System</a>
  <span class="current-page"> / Manage Surveys</span>
</p>

<div class="main-div mat-elevation-z2">
  <h3 class="heading">List of All Surveys</h3>
  <hr>
  <mat-form-field class="app-input">
    <input matInput type="text" placeholder="Search Surveys">
  </mat-form-field>
  <button mat-raised-button color="primary" class="btn2">
      <mat-icon>search</mat-icon>
    </button>
  <button mat-raised-button class="btn" color="primary" [routerLink]="['/navbar/createsurvey']">
    <mat-icon>add</mat-icon>Create Survey</button>

  <table class="mat-table">
    <tr>
      <th>Key</th>
      <th>Name</th>
      <th>Description</th>
      <th>Country Code</th>
      <th>Status</th>
    </tr>
  </table>
</div>