<div class="fineract-div">product / Floating rates
    <div class="example-container mat-elevation-z8">
      <div>
          Floating Rate Name:
  
      <mat-form-field class="example-full-width">
        <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher">
        <mat-hint>Required!</mat-hint>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          this field is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
    
    <mat-checkbox class="example-full-width3"></mat-checkbox>
    Is base lending rate
    <mat-checkbox class="example-full-width3"></mat-checkbox>
    Active
    </div>
    <br/>
    <mat-divider></mat-divider>
    <div>
    Floating Rates period
    <button mat-raised-button color='primary'>Add </button>
</div>
<div class="my-div">
    <button mat-raised-button color='primary'>Submit </button>
    <button mat-raised-button color='warn'>Cancel</button>
</div>
    </div>
</div>
