<p class="newcashier">
    <a [routerLink]="['/navbar/organisation']">Organisation</a>
    <a [routerLink]="['/navbar/teller']">/ Tellers</a>
    <a>/ Head Office</a>
    <a [routerLink]="['/navbar/cashier']">/ 0000000</a>
    <a> Create Cashier</a>
  </p>

  <div class="example-container mat-elevation-z2">
    <form [formGroup]="form" class="example-form">
      Office:
      <mat-form-field class="example-full-width">
       <input matInput type="text"placeholder="Head Office" disabled>
      </mat-form-field>
      <br>
      Teller Name:
      <mat-form-field class="example-full-width">
          <input matInput type="text"placeholder="0000000" disabled>
         </mat-form-field>
         <br>
       Cashier/staff*:
       <mat-form-field class="example-full-width" required>
          <mat-select placeholder="">
            <mat-option *ngFor="let option of options" [value]="option.value">
              {{ option.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
       Description/Notes:
       <mat-form-field class="example-full-width" required>
          <textarea matInput type="text" formControlName="description"></textarea>
          </mat-form-field>
        <br>
         From*:
        <mat-form-field class="example-full-width" required>
          <input matInput [matDatepicker]="picker" placeholder="" required formControlName="startdate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
        </mat-form-field>
        <br>
        To:
        <mat-form-field class="example-full-width" required>
          <input matInput [matDatepicker]="picker1" placeholder="" required formControlName="enddate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker1 startView="year" [startAt]="startDate"></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-checkbox>Full day?</mat-checkbox>
        <br>     
        <button mat-button mat-raised-button class="btn">Cancel</button>
        <button mat-button mat-raised-button color="primary">Submit</button>

    </form>
  </div>