.example-container{
    margin-left: 5%;
    margin-right: 5%;
    
}
.newteller{
    margin-left: 5%;
    margin-top: 3%;
}
.example-form{
    margin-left: 8%;
}
.btn{
    margin-left: 30%;
    margin-bottom: 2%;
}
.example-full-width{
    width:35%;
}
