<p class="page-space">
  <a [routerLink]="['/navbar/accounting']">Accounting</a>
  <span class="current-page">/Migrate Opening Balances</span>
</p>
<div class="main-div mat-elevation-z2">
  <h3> Opening Balances</h3>
  <hr>
  <mat-form-field class="app-input" required>
    <mat-select placeholder="select Office">
      <mat-option value="option">Head Office</mat-option>
      <mat-option value="option">Select Office</mat-option>
    </mat-select>
  </mat-form-field> <span>&nbsp;&nbsp;</span>
  
  <mat-form-field class="app-input">
    <mat-select placeholder="Currency">
      <mat-option value="option">US Dollar ($)</mat-option>
    </mat-select>
  </mat-form-field><span>&nbsp;&nbsp;</span>
  
  <button mat-button mat-raised-button color="primary" class="btn">Search Data</button>
 
</div>