.example-container{
    margin-left: 10%;
    margin-right: 5%;
    
}
.example-full-width{
    width:30%;
    padding-left: 4%;
}

.openingbalance{
  margin-left:10%;
  margin-top: 4%;
}
.btn{
    margin-left: 8%;
}