.example-container{
    margin-left: 10%;
    margin-right: 5%;
    
}
.searchjournal{
    margin-left: 10%;
    margin-top: 5%;
}
.example-full-width{
    width:20%;
    margin-left: 2%;
}
.dat{
    margin-left: 2%;
}