<p class="page-space">
  <a [routerLink]="['/navbar/accounting']">Accounting</a>
  <span class="current-page">/ Chart of Accounts</span>
</p>
<div class="main-div mat-elevation-z2">
  <p class="heading">Chart of Accounts
    <button mat-button mat-raised-button color="primary" 
    class="btn" [routerLink]="['/navbar/chartaccount']">
      <mat-icon>list</mat-icon>List View</button>
    <button mat-button mat-raised-button color="primary" [routerLink]="['/navbar/create-gl']">
      <mat-icon>add</mat-icon>Add Account</button>
  </p>
  <hr>
  <p>
    <button mat-button (click)="show=!show">Expand All</button>/
    <button mat-button (click)="show=!hide">Collapse All</button>
  </p>
  <button mat-raised-button color="primary" class="btn2" ><mat-icon>add</mat-icon>Accounting</button>
  <div *ngIf="show" class="list">
    <br>
    <mat-radio-group>
        <mat-radio-button value="1">ASSEST</mat-radio-button><br>
        <mat-radio-button value="2">LIABILITY</mat-radio-button><br>
        <mat-radio-button value="1">EQUITY</mat-radio-button><br>
        <mat-radio-button value="2">INCOME</mat-radio-button><br>
        <mat-radio-button value="1">EXPENSES</mat-radio-button><br>
      </mat-radio-group>
  </div>  
      
  </div>