.example-container{
    margin-left: 10%;
    margin-right: 5%;
    
}
.treeview{
    margin-left: 10%;
    margin-top: 5%;
}

.btn{
    margin-top: 2%;
    margin-left: 60%;
}
.list{
    margin-left: 5%;
}