<p class="addfinancialactivity">
  <a [routerLink]="['/accounting']">Accounting</a>
  <a [routerLink]="['/financialactivity']">/Financial Activity Mappings</a>
  <a>/Add Financial Activity Mapping</a>
</p>

<div class="example-container mat-elevation-z2">
  <h3 class="header">Add Financial Activity Mapping</h3>
  <hr>
  <mat-form-field class="example-full-width" required>
    <mat-select placeholder="Financial Activity">
      <mat-option value="option">Asset Transfer</mat-option>
      <mat-option value="option">Liability Transfer</mat-option>
      <mat-option value="option">Main Cash Account or Cash at Vault</mat-option>
      <mat-option value="option">Cash at Tellers/Cashiers</mat-option>
      <mat-option value="option">Opening Balances Transfer Contra</mat-option>
      <mat-option value="option">Fund Source</mat-option>
      <mat-option value="option">Payable Dividends</mat-option>
    </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width" required>
      <mat-select placeholder="Account">
      <mat-option value="option">Select Office</mat-option>
      </mat-select>
      </mat-form-field>
      <br>
      <br>

    <button mat-button mat-raised-button class="btn">cancel</button>
    <button mat-button mat-raised-button color="primary">Submit</button>

  </div>
