<p class="page-space">
  <a [routerLink]="['/navbar/accounting']">Accounting</a>
  <a [routerLink]="['/navbar/financialactivity']">/Financial Activity Mappings</a>
  <span class="current-page">/Add Financial Activity Mapping</span>
</p>

<div class="main-div mat-elevation-z2">
  <h3 class="header">Add Financial Activity Mapping</h3>
  <mat-divider></mat-divider>
  <mat-form-field class="app-form" required>
    <mat-select placeholder="Financial Activity">
      <mat-option value="option">Asset Transfer</mat-option>
      <mat-option value="option">Liability Transfer</mat-option>
      <mat-option value="option">Main Cash Account or Cash at Vault</mat-option>
      <mat-option value="option">Cash at Tellers/Cashiers</mat-option>
      <mat-option value="option">Opening Balances Transfer Contra</mat-option>
      <mat-option value="option">Fund Source</mat-option>
      <mat-option value="option">Payable Dividends</mat-option>
    </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field class="app-form" required>
      <mat-select placeholder="Account">
      <mat-option value="option">Select Office</mat-option>
      </mat-select>
      </mat-form-field>
      <br>
      <br>

   
    <button mat-button mat-raised-button color="primary" class="btn">Submit</button>
    <button mat-button mat-raised-button >cancel</button>
  </div>
