<div class="page-space">
  <p>
  <a [routerLink]="['/navbar/accounting']">Accounting</a>
  <a [routerLink]="['/navbar/accountingrules']">/Accounting Rules</a>
  <span class="current-page">/Add Rule</span>
</p>

<div class="main-div mat-elevation-z2">
  <h3>Create An Accounting Rule</h3>
  <hr>
  <form class="app-form">
    Accounting rule name*:
    <mat-form-field class="app-input" required>
      <input type="text" matInput [formControl]="myControl">
    </mat-form-field>
    <br> Office*:
    <mat-form-field class="app-input" required>
      <mat-select placeholder="">
        <mat-option *ngFor="let option of options" [value]="option.value">
          {{ option.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br> Comment
    <mat-form-field class="app-input">
      <textarea matInput placeholder=""></textarea>
    </mat-form-field>
    <br>

    <div class="entries">
      <p>Affected GL Entries*</p>
    </div>

    <div class="debit">
      <P>Debit Account Details</P>
      <br> Debit rule type
      <mat-radio-group>
        <mat-radio-button value="1" checked>Fixed Account</mat-radio-button>
        <mat-radio-button value="2" (click)="debit=!debit">List of Account</mat-radio-button>
      </mat-radio-group>
      <br>
      <mat-form-field class="app-input" required>
        <mat-select placeholder="select an option">
          <mat-option *ngFor="let debit of debits" [value]="debit.value">
            {{ debit.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="credit">
      <p>Credit Account Details</p>
      <br> Credit rule type
      <mat-radio-group>
        <mat-radio-button value="1" checked>Fixed Account</mat-radio-button>
        <mat-radio-button value="2" (click)="credit=!credit">List of Account</mat-radio-button>
      </mat-radio-group>
      <br>
      <mat-form-field class="app-input" required>
        <mat-select placeholder="select an option">
          <mat-option *ngFor="let credit of credits" [value]="credit.value">
            {{ credit.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <br>

    <!-- div for debit-->
    <div *ngIf="debit">
      <mat-card>
        <h6>Available debit tag</h6>
        <mat-form-field>
          <mat-select>
            <mat-option value="option1">Movable Asset</mat-option>
            <mat-option value="option2">Test</mat-option>
            <mat-option value="option3">Non-movable Asset</mat-option>
            <mat-option value="option2">Liability01</mat-option>
            <mat-option value="option3">SAL</mat-option>
            <mat-option value="option2">Travel Allowances</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>
      <mat-card>
        <button mat-button mat-raised-button color="primary">
          <mat-icon>fast_forward</mat-icon>
        </button>
        <br>
        <br>
        <button mat-button mat-raised-button color="primary">
          <mat-icon>fast_rewind</mat-icon>
        </button>
      </mat-card>
      <mat-card>
        <h6>selected debit tags</h6>
        <mat-form-field>
          <mat-select>
            <mat-option value="option1">Movable Asset</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>
      <br>
      <mat-checkbox>Allow multiple debit entries</mat-checkbox>
    </div>

    <!-- div for credit-->
    <div *ngIf="credit">
      <mat-card>
        <h6>Available credit tag</h6>
        <mat-form-field>
          <mat-select>
            <mat-option value="option1">Movable Asset</mat-option>
            <mat-option value="option2">Test</mat-option>
            <mat-option value="option3">Non-movable Asset</mat-option>
            <mat-option value="option2">Liability01</mat-option>
            <mat-option value="option3">SAL</mat-option>
            <mat-option value="option2">Travel Allowances</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>
      <mat-card>
        <button mat-button mat-raised-button color="primary">
          <mat-icon>fast_forward</mat-icon>
        </button>
        <br>
        <button mat-button mat-raised-button color="primary">
          <mat-icon>fast_rewind</mat-icon>
        </button>
      </mat-card>
      <mat-card>
        <h6>selected credit tags</h6>
        <mat-form-field>
          <mat-select>
            <mat-option value="option1">Movable Asset</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>
      <br>
      <mat-checkbox>Allow multiple credit entries</mat-checkbox>
    </div>



    <button mat-button mat-raised-button class="btn">Cancel</button>
    <button mat-button mat-raised-button color="primary">Submit</button>
  </form>
</div>
</div>