
.app-input{
    width:30%;
}
.btn{
    margin-left: 30%;
    margin-top:5%;
    margin-bottom:5%;
}
.app-form{
margin-left:2%;
}
.entries,.debit,.credit{
    display:inline-block;
    width:30%;
    font-size: 12px;
    vertical-align: top;
}
div mat-card{
    display:inline-block;
}