<div class="fineract-div">System/Audit
    <div class="audit-div mat-elevation-z8">
      <div>
<mat-form-field>
    <input matInput placeholder="Search by user">
  </mat-form-field>
  <button mat-raised-button><mat-icon>expand_more</mat-icon></button>
  <button mat-raised-button color="primary"><mat-icon>search</mat-icon></button>
      </div>
      <div>
        <button mat-raised-button color="primary" class="audit-button">Export CSV</button>
      </div>
      <br>
      <br>
      <div>
        <mat-chip-list>
       <mat-chip><mat-icon>arrow_back</mat-icon>previous</mat-chip>
       <mat-chip class="audit-chip"><mat-icon>arrow_forward</mat-icon>next</mat-chip>
       </mat-chip-list>
      </div>
    </div>
</div>

