.example-container{
    margin-left: 3%;
    
}
.addcodevalue{
    margin-left: 3%;
    margin-top: 3%;
}

.header{
    margin:2%;
}
.btn{
    margin-bottom: 5%;
    margin-left: 40%;
}
.example-form{
    margin-left: 10%;
}
