<p class="page-space">
  <a [routerLink]="['/navbar/system']">System</a>
  <a [routerLink]="['/navbar/managecode']"> / Manage Codes</a>
  <a [routerLink]="['/navbar/clickmanagecode']"> /ADDRESS_TYPE</a>
  <span class="current-page"> /Add Code Value</span>
</p>

<div class="main-div mat-elevation-z2">
  <h3 class="heading">Add Code Value</h3>
  <hr>
  <form class="app-form">
    Code value:
    <mat-form-field class="app-input">
      <input matInput type="text">
    </mat-form-field>
    <br> Description:
    <mat-form-field class="app-input">
      <textarea matInput type="text"></textarea>
    </mat-form-field>
    <br> Position:
    <mat-form-field class="app-input">
      <input matInput type="text">
    </mat-form-field>
    <br>
    <mat-checkbox>Active</mat-checkbox>
    <br>
    <button mat-button mat-raised-button color="primary" class="btn">
      <mat-icon>add</mat-icon>Add</button>
  </form>
</div>