
.fineract-div{
    padding-left:70%;
    display:inline;
    
}
mat-form-field{
    size: 100%;
}



.fineract-card,.fineract-card2,.fineract-card3{
    
    width:25%;
    display:inline-block;
    vertical-align:top;
    margin-left: 30px;
    margin-top: 30px;
}
.fineract-card4{
    width:50%;

}
.fineract-card5{
    width:25%;
}
.fineract-card4,.fineract-card5{
    display:inline-block;
    vertical-align:top;
    margin-left: 30px;
    margin-top: 30px;
    height:300px;
}
.example-card{
    margin:50px;
}
