<div class="main-div mat-elevation-z2">
  <div class="body">
  <h2>Navigation</h2>
  <hr>
  <mat-form-field class="app-input">
    <input matInput type="text" placeholder="Filter by name">
  </mat-form-field>
  <hr>
  <mat-accordion>
    <mat-expansion-panel class="title">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Office ()
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Head Office</p>
      <p>Morogoro branch</p>
      <p>loan officer</p>
      <p>dla</p>
      <p>Nikitaben patel</p>
      <p>yay</p>
      <p>322</p>
      <p>buea</p>
    </mat-expansion-panel>

    
    <mat-expansion-panel  class="title">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Loan Officers
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>loan</p>
      </mat-expansion-panel>
      
      <mat-expansion-panel  class="title">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Centers
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>center 1</p>
        </mat-expansion-panel>

        <mat-expansion-panel  class="title">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Groups
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>group1</p>
          </mat-expansion-panel>

          <mat-expansion-panel  class="title">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Clients
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>client1</p>
            </mat-expansion-panel>

  </mat-accordion>
  </div>
</div>