<div class="fineract-div">System/Audit
    <div class="entity-div mat-elevation-z8">
        <mat-list>
            <mat-list-item><button mat-button (click)="callOffice()">Offices --> Loan Products</button></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><button mat-button>Offices --> Savings Products</button></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><button mat-button>Offices --> Charges/Fees</button></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><button mat-button>Roles --> Loan Products</button></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><button mat-button>Roles --> Savings Products</button></mat-list-item>

        </mat-list>
<div>
        <div *ngIf="office" class="my-div1">
            <br>
            <h2>
                Office access to loan product
            </h2>
            <mat-divider></mat-divider>
            Office:
            <mat-form-field>
                <mat-select placeholder="--select one--" [formControl]="animalControl" required>
                    <mat-option>--select one--</mat-option>
                    <mat-option *ngFor="let office of offices" [value]="office">
                        {{office.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="animalControl.hasError('required')">this field is required</mat-error>

            </mat-form-field>

            Loan Products:
            <mat-form-field>
                <mat-select placeholder="--select loan products--" [formControl]="animalControl" required>
                    <mat-option>--select one--</mat-option>
                    <mat-option *ngFor="let product of products" [value]="product">
                        {{product.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="animalControl.hasError('required')">This field is required</mat-error>

            </mat-form-field>

            <button mat-raised-button color="primary" (click)="onClick()">filter</button>
        </div>
<div class="my-div2" *ngIf="submit">
            <button mat-raised-button color="primary" (click)="onAdd()">
                <mat-icon>add</mat-icon>Add</button>
                </div>
        </div>
        <div *ngIf="submit">
            <mat-table #table [dataSource]="dataSource">


                <ng-container matColumnDef="office">
                    <mat-header-cell *matHeaderCellDef> Office </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <a routerLink="{{element.name}}">{{element.office}}</a>
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="product">
                    <mat-header-cell *matHeaderCellDef> Loan Product </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.product}} </mat-cell>
                </ng-container>


                <ng-container matColumnDef="startdate">
                    <mat-header-cell *matHeaderCellDef> Start Date </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.startdate}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="enddate">
                    <mat-header-cell *matHeaderCellDef> End Date </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.enddate}} </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
        <br>
        <div *ngIf="display" class="fin-div">
            <h2>
                Add New Entity Mapping
            </h2>
            <mat-divider></mat-divider>
            Office:
            <mat-form-field>
                <mat-select placeholder="--select one--" [formControl]="animalControl" required>
                    <mat-option>--select one--</mat-option>
                    <mat-option *ngFor="let office of offices" [value]="office">
                        {{office.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="animalControl.hasError('required')">this field is required</mat-error>
            </mat-form-field>
            <br> Product:
            <mat-form-field>
                <mat-select placeholder="--select one--" [formControl]="animalControl" required>
                    <mat-option>--select one--</mat-option>
                    <mat-option *ngFor="let product of products" [value]="product">
                        {{product.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="animalControl.hasError('required')">This field is required</mat-error>

            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput [matDatepicker]="picker1" placeholder="Start Date">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <br/>
            <mat-form-field>
                <input matInput [matDatepicker]="picker2" placeholder="End Date">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            <div>
                <button mat-raised-button color="primary">Submit</button>
                <button mat-raised-button color="accent">Cancel</button>
            </div>


        </div>
    </div>
</div>