<p class="page-space">
    <a [routerLink]="['/navbar/accounting']">Accounting</a>
    <span class="current-page">/Periodic Accrual Accounting</span>
  </p>

  <div class="main-div mat-elevation-z2">

    <h3>Execute Periodic Accrual Accounting</h3>
    <mat-divider></mat-divider>
    <mat-form-field class="pick-date">
        <input matInput [matDatepicker]="picker" placeholder="Accrue Till">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
      </mat-form-field>
      <br>

      
      <button mat-button mat-raised-button color="primary" class="btn">Run Periodic Accrual</button>
      <button mat-button mat-raised-button >cancel</button>
    </div>