<p class="page-space">
  <a [routerLink]="['/navbar/system']">System</a>
  <span class="current-page">/ Manage Hooks</span>
</p>

<div class="main-div mat-elevation-z2">
  <mat-form-field class="app-input">
    <input matInput type="text" placeholder="Filter by name">
  </mat-form-field>
  <button mat-button mat-raised-button color="primary" class="btn" [routerLink]="['/navbar/createhook']">
    <mat-icon>add</mat-icon>Create Hook</button>
    <hr>
  
    <table class="mat-table">
      <tr>
        <th>Hook Template</th>
        <th>Hook Name</th>
        <th>Active?</th>
      </tr>
    </table>
</div>