.example-container{
    margin-left: 3%;
    
}
.managehook{
    margin-left: 3%;
    margin-top: 3%;
}

.btn{
    margin-top: 2%;
    margin-left: 80%;
}
th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    margin:15px;
}
.mat-table{
    width:100%;
}
th{
    background-color: #ddd;
}
tr:hover {
    background-color: rgb(16, 179, 233);
}
.example-full-width{
    width:40%;
}