.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    margin-left: 10%;
    margin-right:5%;
  
  }

  .example-full-width{
    width:300px;
  }
  .accountclosure{
    margin-top: 4%;
     margin-left: 10%;
  
  }

  .mat-table {
    max-width:1000px;
    max-height: 500px;
    margin-left: 3%;
  }
.btn{
 margin-left: 80%;
 width:13%;
}
.account .btn{
    display:inline-block;
}
.btn2{
    width:2px;
}