<p class="accountclosure">
  <a [routerLink]="['/accounting']">Accounting</a>
  <a>/Account Closure</a>
</p>

<div class="example-container mat-elevation-z2">

  <p class="account">Accounting Closures
    <button mat-button mat-raised-button color="primary" class="btn" [routerLink]="['/createclosure']">
      <mat-icon>add</mat-icon>
      Create Closure</button>
  </p>
  <p>Filter By Office</p>

  <p>
    <mat-form-field class="example-full-width">
      <mat-select placeholder="All Offices">
        <mat-option value="option">Head office</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button mat-raised-button color="primary" class="btn2">
      Submit</button>
  </p>

  <div>
    <mat-table #table [dataSource]="dataSource">


      <ng-container matColumnDef="office">
        <mat-header-cell *matHeaderCellDef> Office </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.office}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="account">
        <mat-header-cell *matHeaderCellDef>Accounting Closure Date</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.account}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="comment">
        <mat-header-cell *matHeaderCellDef>Comments</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.comment}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="close">
        <mat-header-cell *matHeaderCellDef>Close Accounting Created By</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.close}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>