<div class="page-space">
  <p>
  <a [routerLink]="['/navbar/organisation']">Organisation</a>
  <span class="current-page">/ Currency Configuration</span>
</p>

<div class="main-div mat-elevation-z2">
  <p>
    <a [routerLink]="['/navbar/organisation']">Organisation</a>
    <a> / Edit Currency Configuration</a>
  </p>

  <button mat-button mat-raised-button color="primary" class="btn" [routerLink]="['/navbar/currency']">
    <mat-icon>add</mat-icon>Add/Edit</button>
  <br>

  <form>
  <table class="mat-table">
    <tr>
      <td>
        <mat-form-field class="app-input" required>
          <input matInput type="text" id="position" placeholder="New Currency">
        </mat-form-field>
      </td>
      <td>
        <button mat-button mat-raised-button color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </td>
      <td>Afghanistan Afghani [AFN]</td>
      <td>
        <mat-icon>close</mat-icon>
      </td>
    </tr>

    <tr>
      <td>Armenian Dram [AMD]</td>
      <td><mat-icon>close</mat-icon></td>
      <td>Aruban Guilder [AWG]</td>
      <td><mat-icon>close</mat-icon></td>
    </tr>
  </table>
  <br>
  <br>
  <button mat-button mat-raised-button color="primary" class="btn2">Submit</button>
   <button mat-button mat-raised-button >Cancel</button>
   
 </form>
</div>
</div>