<p class="treevieworg">
  <a [routerLink]="['/navbar/organisation']">Organisation</a>
  <a>/ Manage Offices</a>
</p>
<div class="main-div mat-elevation-z2">
  <p>
    <button mat-button mat-raised-button color="primary" class="btn" [routerLink]="['/navbar/manageoffice']">
      <mat-icon>list</mat-icon>List View</button>
    <button mat-button mat-raised-button color="primary" [routerLink]="['/navbar/createoffice']">
      <mat-icon>add</mat-icon>Create Office</button>
  </p>
  <hr>
  <p>
    <button mat-button (click)="show=!show">Expand All</button>/
    <button mat-button (click)="show=!hide">Collapse All</button>
  </p>
  <button mat-raised-button color="primary" class="headOffice-btn" ><mat-icon>add</mat-icon>() Head Office</button>
  <div *ngIf="show" class="list">
    <br>
    <mat-radio-group>
        <mat-radio-button value="1">() Nagercoil</mat-radio-button><br>
        <mat-radio-button value="2">() Arusha</mat-radio-button><br>
        <mat-radio-button value="1">() YemenM</mat-radio-button><br>
        <mat-radio-button value="2">() Yemr</mat-radio-button><br>
        <mat-radio-button value="1">() Chinhoyi</mat-radio-button><br>
      </mat-radio-group>
  </div>    
</div>